:root {
  --text: #000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button,
a {
  display: inline-block;
  cursor: pointer;
}
p::selection {
  background-color: var(--yellow);
}
.container {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.bottom-line {
  position: relative;
  z-index: 2;
}
.bottom-line:after {
  content: "";
  position: absolute;
  right: -2px;
  bottom: 8px;
  left: -5px;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
.title-1 {
  color: var(--text);
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
}
.title-1 .bottom-line:after {
  bottom: 25px;
  height: 12px;
}
.title-2 {
  color: var(--text);
  font-size: 64px;
  font-weight: 800;
}
.title-2 .bottom-line:after {
  bottom: 15px;
  height: 12px;
}
.button {
  display: inline-block;
  padding-right: 40px;
  padding-left: 34px;
  background-color: var(--yellow);
  border: 4px solid var(--yellow);
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  line-height: 56px;
  border-radius: 35px;
}
.button:hover {
  background-color: #ffd200;
  border-color: #ffd200;
}
.button:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
}
.button--light {
  background-color: #fff;
  border-color: #464646;
  color: #464646;
}
.button--light:hover {
  background-color: #fff;
  color: #797979;
  border-color: #797979;
}
.button--light:active {
  background-color: #fff;
  color: #181818;
  border-color: #181818;
}
.button--project {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border: none;
  color: var(--red);
  font-weight: 800;
  font-family: inherit;
  line-height: 52px;
}
.button--project:hover {
  background-color: var(--red);
  color: #fff;
}
.button--project:active {
  background-color: #d4423b;
}
.block-title {
  text-shadow: 0 3px 42px #ffffff;
  color: var(--text);
  font-size: 40px;
  font-weight: 800;
}
.socials-block .socials-block__link:last-child {
  margin-right: 0;
}
.socials-block__link {
  margin-right: 27px;
}
.socials-block__link:hover,
.socials-block__link:focus,
.socials-block__link:active {
  opacity: 0.8;
}
.logo-link {
  display: block;
  color: var(--text);
  font-size: 42px;
  font-weight: 900;
}
.logo-link:hover,
.logo-link:focus {
  opacity: 0.7;
}
.header {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 240px;
  margin: 0 auto;
  background-image: url("../img/backgrounds/header-bg.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  overflow: hidden;
}
.header__nav {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link:last-child {
  margin-right: 0;
}
.header__menu-link {
  position: relative;
  margin-right: 74px;
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
}
.header__menu-link:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 6px;
  width: 0%;
  background-color: var(--yellow);
  z-index: -1;
  transition: 0.5s;
}
.header__menu-link:hover:after,
.header__menu-link:active:after,
.header__menu-link .active {
  width: 100%;
}
.header__menu-link:focus {
  border: 3px dashed var(--red);
}
.header__socials .header__socials-link:last-child {
  margin-right: 0;
}
.header__socials-link {
  margin-right: 9px;
  width: 35px;
  height: 35px;
}
.header__socials-link--linked:hover path,
.header__socials-link--linked:active path {
  fill: #0077b5;
}
.header__socials-link--github:hover path,
.header__socials-link--github:active path {
  fill: #6bc544;
}
.header__socials-link--vk:hover path,
.header__socials-link--vk:active path {
  fill: #45668e;
}
.header__main-info-content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
.main-info__picture-wrapper {
  width: 41%;
}
.main-info__picture {
  margin-left: auto;
  position: relative;
  width: 457px;
  height: 410px;
  z-index: 2;
}
.main-info__picture:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -140px;
  bottom: -130px;
  background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: 1;
}
.main-info__picture img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-info__about-wrapper {
  width: 54%;
}
.main-info__about-wrapper h1 {
  margin-bottom: 13px;
}
.main-info__about-wrapper p {
  margin-bottom: 35px;
  width: 490px;
  text-shadow: 0 3px 42px #ffffff;
  color: #393f47;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.main-info__about-wrapper a:first-of-type {
  margin-right: 20px;
}
.main-info__links-wrapper {
  display: flex;
}
.header-pic {
  max-width: 1600px;
  margin-top: -120px;
}
.header__additional-info {
  padding-top: 100px;
  margin-top: -100px;
}
.header__additional-info-content {
  display: flex;
  justify-content: space-between;
}
.additional-info__skills-wrapper {
  width: 60%;
}
.additional-info__skills-wrapper .block-title {
  margin-bottom: 26px;
}
.additional-info__skills-list {
  margin-bottom: 38px;
}
.additional-info__skills-item {
  position: relative;
  padding-left: 28px;
  text-shadow: 0 3px 42px #ffffff;
  color: var(--text);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.65;
}
.additional-info__skills-item:before {
  content: "";
  width: 23px;
  height: 2px;
  background-color: var(--text);
  position: absolute;
  top: 50%;
  left: 0;
}
.additional-info__contacts-wrapper {
  width: 32%;
}
.additional-info__contacts-wrapper .socials-block {
  margin-bottom: 25px;
}
.additional-info__contacts-wrapper .block-title {
  margin-bottom: 32px;
}
.additional-info__email {
  text-shadow: 0 3px 42px #ffffff;
  color: var(--text);
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid var(--text);
  line-height: 1.2;
}
.additional-info__email:hover {
  color: var(--blue);
  border-bottom-color: var(--blue);
}
.additional-info__email:active {
  color: #ea655f;
  border-bottom-color: #ea655f;
}
.portfolio {
  padding-top: 97px;
  padding-bottom: 65px;
  background-color: #f4f8f9;
}
.portfolio .title-2 {
  margin-bottom: 48px;
}
.projects__menu {
  margin-bottom: 44px;
  display: flex;
}
.projects__menu-item {
  padding: 0;
  color: #8fa5ae;
  font-size: 28px;
  font-weight: 800;
  border: none;
  background-color: inherit;
  font-family: inherit;
}
.projects__menu-item:hover,
.projects__menu-item:focus,
.projects__menu-item:active {
  color: #ed574f;
}
.projects__menu-item + .projects__menu-item {
  margin-left: 80px;
}
.projects__menu .control-active {
  color: var(--text);
}
.projects__cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project__card {
  display: block;
  width: 100%;
  max-width: 360px;
  margin-bottom: 60px;
  overflow: hidden;
}
.project__card--big {
  max-width: 556px;
}
.project__card:hover .project-card__img button,
.project__card:active .project-card__img button {
  transform: translate(-50%, -50%);
}
.project__card:hover .project-card__img::after,
.project__card:active .project-card__img::after {
  transform: translateX(0%);
}
.project__card:hover .project-card__title,
.project__card:active .project-card__title {
  color: #ed574f;
}
.project-card__img {
  margin-bottom: 22px;
  position: relative;
}
.project-card__img button {
  transform: translate(-50%, -250px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transition: 0.5s;
}
.project-card__img:after {
  transform: translateX(-100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  opacity: 0.85;
  z-index: 1;
  transition: 0.5s;
}
.project-card__title {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
  color: var(--text);
  font-size: 26px;
  font-weight: 700;
  z-index: 2;
}
.project-card__title:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #ed574f;
  z-index: -1;
  transition: 0.5s;
}
.project-card__title:hover:after,
.project-card__title:active:after,
.project-card__title .active {
  width: 100%;
}
.project-card__text {
  color: var(--text);
  font-size: 20px;
  font-weight: 300;
}
.project__card--big .project-card__title {
  font-size: 32px;
}
.project__card--big .project-card__title:after {
  bottom: 4px;
}
.project__card--big .project-card__text {
  font-size: 22px;
}
.timeline {
  padding-top: 127px;
  padding-bottom: 145px;
  background-image: url("../img/backgrounds/timeline-bg.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.timeline .title-2 {
  margin-bottom: 150px;
  text-align: center;
}
.timeline__wrapper {
  max-width: 1005px;
  margin: 0 auto;
}
.timeline__item {
  position: relative;
  width: 100%;
  min-height: 175px;
  padding-left: 98px;
  padding-bottom: 60px;
}
.timeline__item:not(:last-child):after {
  content: "";
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
  position: absolute;
  top: 94px;
  bottom: 0;
  left: 35px;
}
@media (min-width: 768px) {
  .timeline__item {
    width: 50%;
  }
  .timeline__item:nth-child(even) {
    margin-left: auto;
  }
  .timeline__item:nth-child(even)::after {
    left: -2px;
  }
  .timeline__item:nth-child(even) .timeline__icon {
    left: auto;
    left: -37px;
  }
  .timeline__item:nth-child(odd) {
    padding-left: 0;
    padding-right: 80px;
    text-align: right;
  }
  .timeline__item:nth-child(odd)::after {
    left: auto;
    right: -2px;
  }
  .timeline__item:nth-child(odd) .timeline__icon {
    left: auto;
    right: -37px;
  }
  .timeline__item:first-child::before {
    content: "";
    width: 4px;
    height: 57px;
    border-radius: 2px;
    background-color: #e1eef4;
    position: absolute;
    top: -77px;
    right: -2px;
  }
}
.timeline__item + .timeline__item {
  margin-top: 20px;
}
.timeline__text {
  padding-top: 15px;
}
.timeline__title {
  margin-bottom: 8px;
  color: var(--text);
  font-size: 26px;
  font-weight: 800;
}
.timeline__title .bottom-line:after {
  bottom: 3px;
  height: 7px;
}
.timeline__description {
  margin-bottom: 10px;
  color: var(--text);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.timeline__time {
  color: var(--text);
  font-size: 18px;
  font-weight: 700;
}
.timeline__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 74px;
  box-shadow: 2px 3px 35px rgba(0, 112, 187, 0.35);
  border-radius: 28px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */