:root {
  --text: #000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button,
a {
  display: inline-block;
  cursor: pointer;
}
p::selection {
  background-color: var(--yellow);
}
.container {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.container-big {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.bottom-line {
  position: relative;
  z-index: 2;
}
.bottom-line:after {
  content: "";
  position: absolute;
  right: -2px;
  bottom: 8px;
  left: -5px;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
.title-1 {
  color: var(--text);
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
}
.title-1 .bottom-line:after {
  bottom: 25px;
  height: 12px;
}
.button {
  display: inline-block;
  padding-right: 40px;
  padding-left: 34px;
  background-color: var(--yellow);
  border: 4px solid var(--yellow);
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  line-height: 56px;
  border-radius: 35px;
}
.button:hover {
  background-color: #ffd200;
  border-color: #ffd200;
}
.button:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
}
.button--light {
  background-color: #fff;
  border-color: #464646;
  color: #464646;
}
.button--light:hover {
  background-color: #fff;
  color: #797979;
  border-color: #797979;
}
.button--light:active {
  background-color: #fff;
  color: #181818;
  border-color: #181818;
}
.section-title {
  text-shadow: 0 3px 42px #ffffff;
  color: var(--text);
  font-size: 40px;
  font-weight: 800;
}
.socials-block .socials-block__link:last-child {
  margin-right: 0;
}
.socials-block__link {
  margin-right: 27px;
}
.socials-block__link:hover,
.socials-block__link:focus,
.socials-block__link:active {
  opacity: 0.8;
}
.header {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 240px;
  margin: 0 auto;
  background-image: url("../img/backgrounds/header-bg.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.header__main-content {
  margin-bottom: 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  color: var(--text);
  font-size: 42px;
  font-weight: 900;
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  margin-right: 390px;
}
.header__menu .header__menu-link:last-child {
  margin-right: 0;
}
.header__menu-link {
  position: relative;
  margin-right: 74px;
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
}
.header__menu-link:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 6px;
  width: 0%;
  background-color: var(--yellow);
  z-index: -1;
  transition: 0.5s;
}
.header__menu-link:hover:after,
.header__menu-link:active:after,
.header__menu-link .active {
  width: 100%;
}
.header__menu-link:focus {
  border: 3px dashed var(--red);
}
.header__socials .header__socials-link:last-child {
  margin-right: 0;
}
.header__socials-link {
  margin-right: 9px;
  width: 35px;
  height: 35px;
}
.header__socials-link--linked:hover path,
.header__socials-link--linked:active path {
  fill: #0077b5;
}
.header__socials-link--github:hover path,
.header__socials-link--github:active path {
  fill: #6bc544;
}
.header__socials-link--vk:hover path,
.header__socials-link--vk:active path {
  fill: #45668e;
}
.header__main-info {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.header__content-block {
  width: 50%;
}
.main-info__picture {
  margin-left: auto;
  position: relative;
  width: 457px;
  height: 410px;
  overflow: hidden;
  z-index: 2;
}
.main-info__picture:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -140px;
  bottom: -130px;
  background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: -1;
}
.main-info__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-info__about h1 {
  margin-bottom: 13px;
}
.main-info__about p {
  margin-bottom: 35px;
  width: 490px;
  text-shadow: 0 3px 42px #ffffff;
  color: #393f47;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.main-info__links-wrapper {
  display: flex;
}
.main-info__about a:first-of-type {
  margin-right: 20px;
}
.header-pic {
  max-width: 1600px;
  margin-top: -120px;
}
.header__additional-info {
  display: flex;
}
.header__content-block--large {
  width: 680px;
  margin-right: auto;
}
.header__content-block--narrow {
  width: 320px;
  margin-right: 42px;
}
.additional-info__skills .section-title {
  margin-bottom: 26px;
}
.additional-info__skills-list {
  margin-bottom: 38px;
}
.additional-info__skills-item {
  position: relative;
  padding-left: 28px;
  text-shadow: 0 3px 42px #ffffff;
  color: var(--text);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.65;
}
.additional-info__skills-item:before {
  content: "";
  width: 23px;
  height: 2px;
  background-color: var(--text);
  position: absolute;
  top: 50%;
  left: 0;
}
.additional-info__contacts .socials-block {
  margin-bottom: 25px;
}
.additional-info__contacts .section-title {
  margin-bottom: 32px;
}
.additional-info__email {
  text-shadow: 0 3px 42px #ffffff;
  color: var(--text);
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid var(--text);
  line-height: 1.2;
}
.additional-info__email:hover {
  color: var(--blue);
  border-bottom-color: var(--blue);
}
.additional-info__email:active {
  color: #ea655f;
  border-bottom-color: #ea655f;
}
/*# sourceMappingURL=main.css.map */