.timeline {
    padding-top: 127px;
    padding-bottom: 145px;
    background-image: url("../img/backgrounds/timeline-bg.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
}

.timeline .title-2 {
    margin-bottom: 150px;
    text-align: center;
}

.timeline__wrapper {
    max-width: 1005px;
    margin: 0 auto;
}

.timeline__item {
    position: relative;
    width: 100%;
    min-height: 175px;
    padding-left: 98px;
    padding-bottom: 60px;

    &:not(:last-child):after {
        content: "";
        width: 4px;
        border-radius: 2px;
        background-color: #e1eef4;
        position: absolute;
        top: 94px;
        bottom: 0;
        left: 35px;
    }

    @media(min-width: 768px) {
        width: 50%;

        &:nth-child(even) {
            margin-left: auto;

            &::after {
                left: -2px;
            }

            .timeline__icon {
                left: auto;
                left: -37px;
            }
        }

        &:nth-child(odd) {
            padding-left: 0;
            padding-right: 80px;
            text-align: right;

            &::after {
                left: auto;
                right: -2px;
            }

            .timeline__icon {
                left: auto;
                right: -37px;
            }
        }

        &:first-child::before {
            content: "";
            width: 4px;
            height: 57px;
            border-radius: 2px;
            background-color: #e1eef4;
            position: absolute;
            top: -77px;
            right: -2px
        }
    }

    & + & {
        margin-top: 20px;
    }
}

.timeline__text {
    padding-top: 15px;
}

.timeline__title {
    margin-bottom: 8px;
    color: var(--text);
    font-size: 26px;
    font-weight: 800;
}

.timeline__title .bottom-line {

    &:after {
        bottom: 3px;
        height: 7px;
    }
}

.timeline__description {
    margin-bottom: 10px;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.timeline__time {
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
}

.timeline__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 74px;
    height: 74px;
    box-shadow: 2px 3px 35px rgba(0, 112, 187, 0.35);
    border-radius: 28px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}